@use "./variables" as *;
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  transition: background 0.2s ease, color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  margin: 0;
}

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}
